
{% block title %}<h1 style="color:magenta">Profile</h1>{% endblock %}

{% block content %}



	<div class="container1" style="background:#e8f48c;padding:10px;">

        <h1 style="color:yellow;background:#004242;padding:10px;">Hello  :  {{profile.user.first_name}}</h1>  <br>
        <h2 style="color:green">{{profile.bio}}</h2>  <br>
        <h2 style="color:blue">{{profile.bio1}}</h2>  <br>
        <h2 style="color:purple">{{profile.bio2}}</h2>  <br>
        <h2 style="color:magenta">{{profile.bio3}}</h2>  <br>

    </div>



{% endblock %}